.container {
  /* Buraya genel düzenlemeler eklenebilir */
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10% 10% 10%;
    justify-content: center;

}

.nav {
  display: flex;
  justify-content: space-between; 
  flex-direction: row;  
  gap: 1rem;  
}

.nav a {
  text-decoration: none;  
}

.nav h4 {
  margin: 0;  
}

.navOverview, .navCast {
  padding: 0.5rem; 
}

.img {
  max-width: 50%; 
  height: auto;  
}

.imgNav {
  display: flex;
  flex-direction: row;
}

.navCast, .navOverview {
  list-style: none;
  padding-top: 20px;

}
